@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/js/jquery.js"></script>
    <script src="~/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
}
<!-- Content -->
<main class="flex-shrink-0">
    <div class="container justify-content-center">
        <div class="container col-4">
            <br />
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Member Out:</label>
                    <input type="text" class="form-control" id="inputMember" placeholder="Enter Identifier" name="salida">
                </div>
                <br />
                <div class="container  col-12">
                    <center>
                        <button type="button" class="btn btn-primary" id="register"> Register </button>
                    </center>

                </div>
            </form>
        </div>
    </div>
</main>
<!-- Modal -->
<div class="modal" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Member Register</h5>
                <button type="button" class="btn-close" id="btn-close"></button>
            </div>
            <div class="modal-body">
                <p id="text-returned"></p>
            </div>
        </div>
    </div>
</div>
